.container {
    background-color:#f6f5f5;
}

.titulo {
    text-align: center;
    color: #00334e;
    margin: 20px 0 0 0;
}

hr {
    background-color: #ee6f57;
}

p, #likes {
    color: #00334e;
    text-align: justify;
    font-size: large;
}

h4, h5 {
    color: #00334e;
    font-weight: bold;
}

#aExp:hover, #aEdu:hover, #aBout:hover {
    background-color: #636668;
}

#aExp, #aEdu, #aBout {
    margin: 5px 0px;
    background-color: #555555;
}


#navigation {
    text-align: left;
}